*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    --v1: calc(max(9vw, 11vh));
    /* background: #212121; */

}
body{
    /* background: black; */
    /* overflow: hidden; */
    /* min-height: 100vh; */
    overflow-x: hidden;
    /* color:white; */
}

.content {
    position: relative;
    margin-top: 100vh; /* Start content below the hexagon container */
    padding: 5%;
    background-color: white;
} 
.grid-container{
    /* display:grid;
    grid-template-rows: 5fr 10fr 1fr; */
    /* height:100vh; */
    /* display: grid;
    grid-template-rows: 4fr 8fr 0.5fr; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.grid1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#menuja{
    background-color: rgba(255, 255, 255, 0.425) ;
    /* width:100%; */
    display: flex;
    flex-direction: row;
    gap:4rem;
    justify-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
    z-index: 10;
}

.container-fluid{
    gap:5rem;
}

nav{
    width:100%;
}


nav ul{
    gap:2rem;
}
.navbar-collapse{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-nav{
    justify-content: flex-end;
}
.overlay { 
    color:#fff;
    position:absolute;
    z-index:12;
    top:45%;
    left:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    text-align:center;
    /* font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-style: normal; */
    font-family: "Alegreya SC", serif;
    font-weight: 400;
  }
  .overlay-h1{
    width:50%;
    align-items: center;
    font-size: 3rem;
  }

  .mainbutton{
    /* border-width:0.15rem; */
    /* border-color: #503C3C  ; */
    /* border-color: rgba(255, 255, 255, 0.692) !important  ; */
    background-color:#5b2fc29c;
    color:white ;
    /* font-weight:550; */
    /* border-radius:25px; */
    margin-top: 2%;
    align-self: center;

}
.mainbutton:hover{
  background-color: white !important;
  color:#503C3C ;
}

.seksioni-2-cont {
    margin-top:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    gap:2rem;
  }
      .contact-header{
        top:0 !important;
        margin-top:5%;
        /* padding-top:5%; */
        padding-bottom:4%;
        /* background-color: #826464; */
        width:100% ;
        z-index: -2;
      }

      h1{
   padding-top:2%;
    font-family: "Alegreya SC", serif;
    font-weight: 600;
    font-style: normal;
    font-size:2rem;
    display:flex;
    width:100%;
    justify-content: center;
}


.form-flex{
  display:flex;
  flex-direction: row;
  gap:1rem;
  justify-content: space-between;
  width:100%;
}


.contact-form{
    /* background-color: #D0D4CA; */
    color:black;
    align-items: center;
    padding:30px;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 10px;
    margin:30px;
    margin-top:0;
    margin-bottom: 0;
    border-radius: 4%;
    border:solid rgba(0, 0, 0, 0.445);
    border-width: 0.05rem;
}
.label{
    font-size: 0.9rem;
}

.contact{
  list-style: none;
  text-decoration: none !important;
  color:black !important;
  align-self: center;
}
.contact-details{
  display:flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
  align-items: center;
}

#result{
  display:flex;
  width:100%;
  justify-content: center;
  /* text-align:start; */
}


@media screen and (max-width: 767px){


.form-flex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
        gap:4rem;
    }

.contact-form{
  width:90%;
  align-self: center;
}

.vr{
  display: none;
}

#result{
    justify-content: center;
  }

  }

  @media screen and (max-width: 576px){

    .contact-header{
        margin-top:5%;
        padding-top:10%;


      }
  }

  @media screen and (min-width:577px) and (max-width: 767px){

.contact-header{
    margin-top:5%;
    padding-top:5%;
  }
}


@media screen and (min-width: 768px) and (max-width: 990px) {
  .contact-header{
    margin-top:5%;
    padding-top:3%;
  }
}
.grid3{
    width:100%;
    margin-bottom:0;
    padding-bottom:0;
    /* display: flex;
    flex-direction: row;
    align-items: flex-start; */
}
footer{
    margin-bottom:0;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:100%;
}

.footer-img{
    margin-right:5%;
    height:10%;
    width:10%;
}
.support-li{
  margin-left: 5%;
}

.bottom-footer{
    position: absolute;
    /* bottom: 0; */
    margin-bottom: 0;
    padding-bottom: 0;
    justify-self: end;
    align-self: flex-end;
    /* bottom:5%; */
}

.socials{
  justify-content: end;
  /* gap:1rem; */
}

.support-li{
  text-align: center;
}

.footer-div span{
  font-size:0.8rem;
}

.footer-div li{
  font-size:0.8rem;
}

#prod-description{
  font-size:0.89rem;
}

.socials{
  margin:0;
}

.mb-3 {
  margin-bottom: 0 !important;
}

/*HEXAGON */
.hex-container{
    position: absolute;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
.row-h{
    display: inline-flex;
    margin-top: calc(var(--v1) * -0.32);;
    margin-left: calc(var(--v1) * -0.5);;
}
button.hexagon{
    border: none;
    cursor: pointer;
}

.hexagon{
    position: relative;
    width: var(--v1);
    height: calc(var(--v1) * 1.1);
    margin: calc(var(--v1) * 0.04) calc(var(--v1) * 0.02);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: linear-gradient(90deg, rgba(25, 25, 25, 0.7) 50%, rgba(10,10,10,0.85) 50%);
    background: #000000;
    /* optional short text */
    text-align: center;
    color: rgba(15, 15, 15, 1);
    line-height: calc(var(--v1) * 1.1);
    font-size: 2vw;
    transition: 1s;
    /* visibility: hidden; */
}
.blank{
    background: transparent;
}
button.hexagon{
    background: #2C093AA9;
}
button.hexagon:hover{
    color: rgba(25, 25, 25, 1);
    background: #2C093A40;
}
.row-h:nth-child(even){
    margin-left: calc(var(--v1) * 0.02);
}
.curser{
    position: absolute;
    width: calc(var(--v1) * 2.5);
    height: calc(var(--v1) * 2.5);
    border-radius: 50%;
    animation: anim 2s linear infinite;
    visibility: hidden;
/*     transition: .1s; */
    transform: translate(-50%, -50%);
/*     box-shadow: 0px 0px 100px rgba(0,255,0,1); */
}
@keyframes anim{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
body:hover .curser{
    background: radial-gradient(circle, rgba(0,255,0,1) 0%, rgba(0,255,0,0) 70%);
    visibility: visible;
}
/*
  60 orange
  120 green
  210
  260
  30
*/


.random-ball {
    position: absolute;
    width: calc(var(--v1) * 2.5);
    height: calc(var(--v1) * 2.5);
    border-radius: 50%;
    animation: anim 2s linear infinite;
    visibility: hidden;
/*     transition: .1s; */
    transform: translate(-50%, -50%);
/*     box-shadow: 0px 0px 100px rgba(0,255,0,1); */
background: radial-gradient(circle, rgba(0,255,0,1) 0%, rgba(0,255,0,0) 70%);
visibility: visible;
z-index:-5;
transition: left 1s ease, top 1s ease; /* Smooth sliding animation */

}

.random-ball2 {
    position: absolute;
    width: calc(var(--v1) * 2.5);
    height: calc(var(--v1) * 2.5);
    border-radius: 50%;
    animation: anim 2s linear infinite;
    visibility: hidden;
/*     transition: .1s; */
    transform: translate(-50%, -50%);
/*     box-shadow: 0px 0px 100px rgba(0,255,0,1); */
background: radial-gradient(circle, rgba(0,255,0,1) 0%, rgba(0,255,0,0) 70%);
visibility: hidden;
z-index:-5;
transition: left 1s ease, top 1s ease; /* Smooth sliding animation */

}


@media only screen and (max-width: 767px){

  .curser{
    display: none;

  }
  .random-ball2{
    visibility: visible;
  }
}